[Desktop Entry]
Type=Application
Name=CVDapp
Comment=A GUI for the CVD
Exec=/home/pi/programs/swnt-reactor/swnt-reactor-gui.sh
Icon=/home/pi/programs/swnt-reactor/swnt-reactor-icon.png
Categories=Programming;
